html{
    height: 100%;
    width: auto;
    color: white;
    font-family: Open sans, sans-serif;
}

body{
    margin: 0 auto;
    height: 100%;
    width: inherit;
    background-color: #0d0e0e;
    width: 80%
}

@media (max-width: 500px) {
    width: 30%;
}

#wrapper{
    background-color: #3e4343;
    text-align: justify;
    padding: 1% 3%;
    margin: 0 auto;
 }

#submitButton{
    margin: 10px;
    font-weight: 600;
    font-family: Lucida Sans, sans-serif;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 10px;
    text-align: center;
    max-width: 200px
}
a{
    color: #fff;
    text-decoration: none;
}
#easter{
    opacity: 0.3;
    position: fixed;
    top: auto;
    bottom: 0;
    max-width: 100px;
    margin: 0 auto;
    visibility: hidden !important; 
}
#easter:hover{
    opacity: 1;
}